.bg{
    background-color:#1A0058;
}

.labels{
    width: 40%;
}

.controls{
    width: 100%;
}

@media(min-width: 768px){
    .controls{
        width:60%;
    }
}

.logo{
    width: 200px;
    height: 200px;
}

#branding-img{
    width: 100px;
    height: 100px;
}

/* #header-img{
    width: 500px;
    height: 500px;
} */

body::before{
    height: 100px;
    content: '';
    display: block;
}

#container-bg{
    /* background: url('images/staff.jpg');
    background-size: cover; */
    width: 100%;
    height: 100%;
    position: relative;
}

#container-bg::before{
    z-index: -1;
    content: '';
    background: url('images/header_image.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    opacity: 0.15;
    width: 100%;
}

#service-list{
    overflow-x: auto;
}

#office-phone-email{
    font-family: sans-serif;
}

.hr{
    border: 2px solid #1A0058;
}