.bg{
    background-color: #1A0058;
}

.labels{
    width: 40%;
}

.controls{
    width: 100%;
}


#title{
    font-size: 60px;
}

@media(min-width: 768px){
    .controls{
        width:60%;
    }
    #container-bg::after{
        display: block;
        content:'';
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        background-color: #1A0058;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 23%);
        z-index: -2;
    }
    #container-bg{
        color: black;
    }
    #nav{
        background: none !important;
    }
}

#nav{
    background-color: #1A0058;
}

.logo{
    width: 200px;
    height: 200px;
}

#branding-img{
    width: 100px;
    height: 100px;
}

/* #header-img{
    width: 500px;
    height: 500px;
} */



#container-bg{
    /* background: url('images/staff.jpg');
    background-size: cover; */
    width: 100%;
    height: 100%;
    position: relative;

}


#header-title{
    margin-top: 30%;
}

#container-bg::before{
    z-index: -1;
    content: '';
    background: url('images/header_image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    opacity: 0.15;
    width: 100%;
}

#service-list{
    overflow-x: auto;
}

#office-phone-email{
    font-family: sans-serif;
}

.hr{
    border: 2px solid #1A0058;
}