.bg{
    background-color:#1A0058;
}

.labels{
    width: 40%;
}

.controls{
    width: 100%;
}

@media(min-width: 768px){
    .controls{
        width:60%;
    }
}

.logo{
    width: 200px;
    height: 200px;
}